<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Ganadores</title>
</head>
<body>
    <h1 class="text-center my-4">Tabla de Ganadores</h1>
    <div class="gap-4 d-grid col-4 p-4 mx-auto text-center">
        <table class="table table-dark table-striped">
            <thead>
                <td>Nombre</td>
                <td>Cantidad Intentos</td>
            </thead>
            <tbody>
                <tr>
                    <td>{{session['ganador'][0]}}</td>
                    <td>{{session['ganador'][1]}}</td>
                </tr>
            </tbody>
        </table>
        <form action="/jugardenuevo" method="post">
            <button type="submit" class="btn bg-dark text-white fw-bold fs-5">Jugar De Nuevo</button>
        </form>
    </div>
</body>
</html>